

body{
    /* display: flex; */
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100vh;
    font-family: 'poppins','sans-serif';
    background: linear-gradient(-45deg, black, silver, white) ;   
}

.forms{
    position: relative ;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    margin-top: 300px;
    padding: 100px;
    height: 90vh;
    left: 50% ;
    transform: translate(-50%,-50%);
    background: white;
   
}
.container{
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    margin-top: 15px;
    padding: 100px;
    height: 90vh;
    color: black 
}
.links_inicio a{
    text-decoration: none;
    padding : 30px 30px;
    color: black;
    font-family: sans-serif;

}

.card_anuncio{
    padding: 30px 30px 30px 30px;
}

.imageC{
   padding-left: 150px;
   padding-bottom: 50px;
}
.topo{
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.cardPrincipalesquerda{
    float: left;
}
.cardPrincipaldireita{
    float: right;
}